#content {
  padding: 46px 0 10px;
}
.btn-wrap {
  margin: 10px;
}
p {
  margin: 0;
}
.reward-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  background: #fff;
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2);
}
.reward-item a {
  display: block;
}
.reward-item a .item-top {
  border-bottom: 1px solid #ddd;
}
.reward-item a .item-top img {
  box-sizing: content-box;
  float: left;
  padding: 10px;
}
.reward-item a .item-top .reward-company {
  box-sizing: content-box;
  line-height: 50px;
  padding: 0 10px 0 0;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.reward-item a .item-middle {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-indent: 2em;
}
.reward-item a .item-bottom {
  padding: 10px;
  color: #999;
  font-size: 12px;
}
.reward-item a .item-bottom .left {
  float: left;
}
.reward-item a .item-bottom .right {
  float: right;
}
/*详情独有*/
/*认领和咨询按钮*/
.btn-wrap {
  margin: 10px 12px;
  text-align: right;
}
.btn-wrap #adopt {
  margin: 0 15px 0 0;
}
/*comment heading*/
.c-hd {
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #666;
}
/*认领列表*/
.adopt-list {
  background: #fff;
}
.adopt-list .adopt-item {
  display: block;
  padding: 0;
  line-height: 50px;
  border-top: 1px solid #ddd;
}
.adopt-list .adopt-item:first-of-type {
  border: none;
}
.adopt-list .adopt-item img {
  float: left;
  margin: 10px 5px;
}
.adopt-list .adopt-item p {
  margin: 0 50px 0 40px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.adopt-list .adopt-item .btn {
  float: right;
  padding: 1px 6px;
  margin: 13px 3px 0 0;
}
.adopt-list.visitor p {
  margin: 0 0 0 40px;
}
.adopt-list.visitor .btn {
  display: none;
}
/*评论列表*/
.consult-list {
  padding: 0 5px;
  background: #fff;
}
.consult-list.inner {
  margin: 10px 0 0;
  background: #D8D8D8;
}
/*单个评论*/
.consult-list .consult-item {
  padding: 5px 0;
  border-top: 1px solid #ddd;
}
.consult-list .consult-item:first-of-type {
  border: none;
}
/*头像*/
.consult-list .consult-item img {
  position: relative;
  top: 5px;
  float: left;
  border-radius: 15px;
}
/*信息 内容 包含块*/
.consult-list .consult-item .content {
  margin: 0 0 0 35px;
}
/*评论人信息*/
/*评论，点赞按钮*/
.consult-list .consult-item .content .ps-info .act-wrap {
  float: right;
  height: 25px;
  padding: 5px 0 0;
}
.consult-list .consult-item .content .ps-info .act-wrap .consult-btns {
  margin: 0 3px;
  color: #666;
}
.consult-list .consult-item .content .ps-info .act-wrap .consult-btns:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -3px 2px 0 0;
  vertical-align: middle;
}
/*评论按钮*/
.consult-list .consult-item .content .ps-info .act-wrap .com-btn:before {
  background: url(../img/share/comment.png) center center no-repeat;
  background-size: contain;
}
/*点赞按钮*/
.consult-list .consult-item .content .ps-info .act-wrap .agree-btn:before {
  background: url(../img/share/agree.png) center center no-repeat;
  background-size: contain;
}
/*已点赞*/
.consult-list .consult-item .content .ps-info .act-wrap .agree-btn.active:before {
  background: url(../img/share/agreeactive.png) center center no-repeat;
  background-size: contain;
}
/*用户名*/
.consult-list .consult-item .content .ps-info .name {
  overflow: hidden;
  color: #666;
  font-size: 14px;
}
/*评论时间*/
.consult-list .consult-item .content .ps-info .time {
  overflow: hidden;
  color: #aaa;
  font-size: 12px;
}
/*评论内容*/
.consult-list .consult-item .content .main-content {
  margin: 5px 0;
  color: #222;
}
/*悬赏新增*/
#addReward .info-list {
  background: #fff;
}
#addReward .info-list .info-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
#addReward .info-list .info-item .company-name {
  text-align: center;
  margin: 0;
  font-weight: 700;
}
#addReward form {
  padding: 10px 10px;
  background: #fff;
}
#addReward form textarea {
  resize: none;
}
/*# sourceMappingURL=reward.css.map */
